@use "sass:map";

@import "@styles/functions";

%flex-centr {
  display: flex;
  align-items: center;
}

%flex-middle {
  display: flex;
  justify-content: center;
}

%flex-centr-fullwidth {
  @extend %flex-centr;

  justify-content: space-between;
}

%flex-centr-middle {
  @extend %flex-centr;

  justify-content: center;
}


%flex-centr-column {
  @extend %flex-centr-fullwidth;

  flex-direction: column;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-left-column {
  @extend %flex-column;

  align-items: flex-start;
}


@mixin lds-roller-child($index) {
  .ldsRoller div:nth-child(#{$index}) {
    animation-delay: loader-animation-delay($index);

    &::after {
      top: map.get((
        1 : 63px,
        2 : 68px,
        3 : 71px,
        4 : 72px,
        5 : 71px,
        6 : 68px,
        7 : 63px,
        8 : 56px
      ), $index);

      @if $index < 8 {
        left: (63px - 8px * ($index - 1));
      }

 @else {
              left: 12px;
            }
    }
  }
}
