@import '@styles/constants';
@import '@styles/colors';

.clock {
  @extend %flex-centr-fullwidth;

  justify-content: center;

  width: 85%;
  height: 50px;
  margin: 0 auto;

  font-size: 24px;

  background-color: $clock-bgc;
  border-radius: 10px;
}
