@import '@styles/constants';

.infoItem {
  @extend %flex-column;

  & + & {
    margin-top: 30px;
  }

  &_title {
    margin: 0;
    font-size: 22px;
  }

  &_value {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
  }

}
